@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h1>@ViewData["Title"]</h1>
    <p>
        An email with instructions to reset your password has been sent to you.
    </p>

